*/__pycache__/*
*.log
.vscode/launch.json
.vscode/settings.json
gtappy/tmp.prof
*.zip
*.bak
*.xlsx
*.har
*.prm
*.e2i
*.ex2
*.axs
*.axt
*.exe
*.inf
*.sti
*.sl4
*.ewk
*.slc
*.upd
*gtapv7-cmd/mod*
*gtapv7-cmd/out
*.e2k
*.exs
*.dwk
*.pwk
*.rdt
*.swk
*.exp
*.EXP
*.sol
*v7all/results/res*
gtappy/cge_releases/PNAS-Final-Release-with-Results*
gtappy/cge_releases/PNAS-Sep22-Oct28aedits*
*.csv
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TFDHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TFHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TFIHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TGDHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TGIHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TIDHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TIMHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TINCHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TMSHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TOHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TPDHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TPIHAT.txt
gtappy/cge_releases/gtap_v7_2022_08_04/Model/gtapv7-cmd/out/TXSHAT.txt
