*/__pycache__/*
*.log
.vscode/launch.json
.vscode/settings.json
gtappy/tmp.prof
*.zip
*.bak
*.xlsx
*.har
*.prm
*.e2i
*.ex2
*.axs
*.axt
*.exe
*.inf
*.sti
*.sl4
*.ewk
*.slc
*.upd
*gtapv7-cmd/mod*
*gtapv7-cmd/out
*.e2k
*.exs
*.dwk
*.pwk
*.rdt
*.swk
*.exp
*.EXP
*.sol
*v7all/results/res*
gtappy/cge_releases/PNAS-Final-Release-with-Results*
gtappy/cge_releases/PNAS-Sep22-Oct28aedits*